h3{
    font-size: 25px !important;
    color: black !important;
}
.button1:hover{
    background-color: rgb(255, 0, 128);
    }
canvas{
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes animation{
    from{box-shadow:1px 1px 38px rgb(166, 255, 0)}
    to{box-shadow:1px 1px 38px rgb(255, 0, 128)}
}